:host {
  @include reddit-card();
  position: relative;
  display: block;
  overflow: auto;
  color: $color;
  font-family: $font;
}

:host(:hover) {
  z-index: 100;
  border-color: #898989;
  cursor: pointer;
}

:host(:focus) {
  outline-color: #898989;
}

.post-card {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);

  button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0.15em;

    i {
      line-height: 0;
    }

    &:hover,
    &:focus,
    &:focus-within {
      background-color: rgb(26 26 27 / 10%);
      outline: none;
      cursor: pointer;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0;
    background-color: white;
  }

  .bottom-button,
  .sub-menu-button,
  .expand-button,
  .comments {
    margin-right: 0.5em;
    padding: 0.5em 0.75em;
    color: #898989;
    font-size: 1em;

    svg {
      width: 1.5em;
      height: 1.5em;
      stroke: #898989;
    }

    span {
      margin-left: 0.5em;
    }
  }

  .thumbnail {
    background-color: white;

    .thumb-icon,
    .thumb-img {
      display: block;
      width: 5em;
      height: 5em;
      margin: 0.5em auto 0;
      background-color: #edeff1;
      border-radius: 0.25em;
    }

    .thumb-img {
      object-fit: cover;
    }

    .thumb-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .thumb-icon svg {
      stroke: #898989;
    }
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
      margin: 0.25em 0;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin: 0.35em;
      padding: 0;
      font-size: 0.9em;
      list-style: none;

      .tag {
        margin: 0.25em;
        padding: 0.15em 1em;
        background-color: #edeff1;
        border-radius: 1000px;
      }
    }
  }

  .top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #898989;
    font-size: 0.8em;

    .user {
      margin: 0 0.5em;
    }

    .sub {
      display: flex;
      align-items: center;
      margin: 0;
      margin-left: 0;
      color: $color;

      img {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        border-radius: 50%;
      }
    }

    .awards {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      .award {
        display: flex;
        align-items: center;
        margin: 0.25em;

        img {
          width: 1.25em;
          height: 1.25em;
          margin-right: 0.25em;
        }

        tool-tip {
          z-index: 1000;
          box-sizing: border-box;
          width: 18em;
          max-width: 100%;
          margin: 0.5em 0;
          padding: 1em;
          color: $color;
          font-family: $font;
          text-align: center;
          background: linear-gradient($secondary calc(32px + 0.5em), white calc(32px + 0.5em));
          border-radius: 0.25em;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);

          img {
            display: block;
            width: 32px;
            height: 32px;
            margin: 0 auto 1em;
          }

          .award-name {
            margin: 0 0 0.5em;
          }

          p {
            margin-top: 0;
          }

          a {
            color: $secondary;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          &::after {
            position: absolute;
            left: 50%;
            width: 1em;
            height: 1em;
            transform: translateX(-50%) rotate(45deg);
            content: '';
          }

          &.bottom::after {
            top: -0.5em;
            background-color: $secondary;
          }

          &.top::after {
            bottom: -0.5em;
            background-color: white;
          }
        }
      }
    }

    .sub-btn {
      @include reddit-button();
      font-size: 1em;
    }
  }

  .vote-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
    font-size: 0.75em;

    .vote-count {
      margin: 0;
    }

    .vote {
      margin: 0.5em auto;

      &.upvote,
      &.downvote {
        svg {
          stroke: black;
        }
      }

      &.upvote {
        &:hover {
          svg {
            stroke: $primary;
          }
        }
      }

      &.downvote:hover {
        svg {
          stroke: $secondary;
        }
      }
    }
  }

  .bottom-bar {
    margin-top: auto;
    color: #898989;
    font-size: 0.8em;

    .bottom-button.hide,
    .bottom-button.report,
    .bottom-button.save,
    .share,
    .more-normal,
    .more-some {
      display: none;
    }
  }

  .sub-menu {
    @include reddit-card(#edeff1);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

    li {
      padding: 1em;
      text-align: left;

      &:hover {
        background-color: #e9f5fd;
      }
    }

    li:not(:last-of-type) {
      border-bottom: 1px solid #edeff1;
    }
  }

  &.card,
  &.classic {
    .vote-bar {
      display: none;
    }
  }

  &.card {
    display: grid;

    .left {
      padding: 0.5em;
    }

    .title {
      font-size: 0.9em;
    }

    .top-bar {
      .user {
        margin: 0.5em;
      }

      .sub {
        margin: 0.5em 0;
      }

      .awards .award {
        margin: 0.25em;
      }

      .sub-btn {
        margin-left: auto;
      }
    }

    .bottom-bar {
      padding: 0.5em 0 0;

      .bottom-button,
      .sub-menu-button {
        margin: 0.5em 0.75em;
        margin-left: 0;
      }

      .vote-bar {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        font-size: 1em;
      }
    }

    article {
      &.text {
        max-height: 15em;
      }

      .body {
        position: relative;
        font-size: 0.95em;

        &.text {
          max-height: 15em;
          overflow: hidden;

          &::after {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5em;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            content: '';
          }
        }
      }
    }

    @media screen and (min-width: 35em) {
      .bottom-bar {
        .share,
        .more-some {
          display: inline-flex;
        }

        .more-all {
          display: none;
        }
      }
    }

    @media screen and (min-width: 44em) {
      grid-template-columns: 3.5em 1fr;

      .vote-bar {
        display: flex;
      }

      .bottom-bar {
        .vote-bar {
          display: none;
        }
      }
    }

    @media screen and (min-width: 46em) {
      .bottom-bar {
        .bottom-button.save,
        .more-normal {
          display: inline-flex;
        }

        .more-some {
          display: none;
        }
      }
    }
  }

  &.compact {
    display: grid;
    grid-template-columns: 3.5em 1fr;

    .vote-bar .vote-count {
      display: none;
    }

    .left-wrapper {
      display: grid;
      grid-template-columns: 1fr 3em;
      background-color: white;
    }

    .left {
      grid-row: 1/3;
    }

    .title {
      font-size: 0.7em;

      h2 {
        margin: 0;
        font-size: 1.2em;
      }

      .tags {
        margin: 0 0.35em;
      }
    }

    .top-bar {
      .points-comments {
        margin: 0;
        margin-right: 0.5em;

        span:first-of-type {
          margin-right: 0.5em;
        }
        span:last-of-type {
          margin-left: 0.5em;
        }
      }

      .awards {
        width: 100%;
      }
    }

    .expand-button,
    .more-all {
      margin: auto;
      font-size: 0.8em;
    }

    .expand-button {
      grid-column: 2/3;
    }

    .comments {
      display: none;
    }

    article {
      grid-column: 2/3;
      padding: 1em;
      background-color: white;
    }

    @media screen and (min-width: 40em) {
      grid-template-columns: 7em 1fr;

      .vote-bar {
        flex-direction: row;

        .vote-count {
          display: block;
        }
      }

      .top-bar {
        .points-comments {
          display: none;
        }

        .awards {
          width: auto;
        }
      }

      .left-wrapper {
        grid-template-columns: 3em 1fr 5em 3em;
      }

      .left {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      .more-all {
        grid-column: 4/5;
      }

      .comments {
        display: flex;
        grid-column: 3/4;
        margin: auto;
        margin-left: 0;
        font-size: 0.8em;

        span:last-of-type {
          display: none;
        }
      }

      .expand-button {
        grid-column: 1/2;
      }

      .comments,
      .expand-button {
        grid-row: 1/2;
      }
    }
  }

  &.classic {
    display: grid;
    grid-template-columns: 1fr 6em;

    .bottom-bar {
      display: flex;
      grid-column: 1/3;
      padding: 0 0.5em;
      background-color: white;

      .expand-button {
        order: 1;
        margin-left: auto;
      }

      .vote-bar {
        display: flex;
        flex-direction: row;
        font-size: 1em;
      }
    }

    .left {
      grid-row: 1/2;
      grid-column: 1/2;

      .bottom-bar {
        display: none;
      }
    }

    .thumbnail {
      grid-column: 2/3;
    }

    .title {
      font-size: 0.9em;

      h2 {
        margin: 0;
        font-size: 1.2em;
      }

      .tags {
        margin: 0 0.35em;
      }
    }

    .top-bar {
      font-size: 0.75em;

      .user {
        order: 1;
      }

      .awards {
        order: 1;
      }

      .sub-btn {
        margin-left: 0.5em;
      }
    }

    article {
      grid-column: 1/3;
      padding: 1em;
      background-color: white;
    }

    @media screen and (min-width: 31em) {
      .bottom-bar {
        .share,
        .more-some {
          display: flex;
        }

        .more-all {
          display: none;
        }
      }
    }

    @media screen and (min-width: 40em) {
      grid-template-columns: 3.5em 6em 1fr;

      .vote-bar {
        display: flex;
      }

      .bottom-bar {
        display: none;
      }

      .thumbnail {
        grid-column: 2/3;
      }

      .left {
        grid-column: 3/4;

        .bottom-bar {
          display: flex;
          padding: 0;

          .vote-bar {
            display: none;
          }

          .expand-button {
            order: -1;
            margin-left: 0;
          }
        }
      }

      article {
        grid-column: 2/4;
      }
    }

    @media screen and (min-width: 46em) {
      .bottom-bar {
        .bottom-button.hide,
        .bottom-button.report,
        .bottom-button.save {
          display: inline-flex;
        }

        .more-some {
          display: none;
        }
      }
    }
  }
}
